body {
    font-family: "Ubuntu Mono";
    background-color: black;
    color: white;
    padding: 0 20px;
}

.link {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.navbar {
    border-top: 3px solid white;
}

.nav-list {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
}

.nav-list li {
    list-style: none;
}

.main-content {
    height: 500px
}

#bio {
    border: 5px solid white;
}

.footer {
    border-top: 1px solid white;
}